* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    display: block;
}

p {
    color: #7e7e7e;
    line-height: 30px;
}

/* custom class */
.container {
    display: block;
    width: 1170px;
    margin: 0 auto;

    &.full-width {
        width: 100%;
    }
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin: 0 -10px;
}

.col-4,
.col-6 {
    float: left;
    padding: 0 10px;
}

.col-4 {
    width: 33.3333333%;
}

.col-6 {
    width: 50%;
}

.button {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 30px;
    background: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 14px;
    color: #222;

    &.bordered {
        border: 1px solid black;
    }
}

/* header */

#logo {
    float: left;
}

#nav {
    float: right;
    text-transform: uppercase;
    line-height: 100px;

    li {
        float: left;
        height: 100px;
    }

    a {
        padding: 0 12px;
        text-decoration: none;
        font-size: 13px;
        color: #333;
    }

    .active a {
        color: #d6b161;
    }
}

.boundary::after {
    content: "|";
    padding: 0 12px;
}

/* content */

#content> {
    div {
        padding-top: 100px;

        &:first-child {
            padding-top: 0px;
        }
    }

    hr {
        margin: 0;
        border-top: 1px solid #eee;
    }
}

.slider img {
    width: 100%;
    height: auto;
}

.intro {
    text-align: center;
    margin-bottom: 100px;

    h2 {
        margin: 0px;
        padding-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: normal;
        font-size: 24px;
        color: #333;
    }

    hr {
        width: 60px;
        height: 2px;
        margin: 0 auto;
        border: 0px;
        background: #595959;
    }

    p {
        margin: 0;
        margin-top: 25px;
        color: #7e7e7e;
    }
}

.category {
    position: relative;
    margin-bottom: 20px;

    img {
        width: 100%;
        height: auto;
    }

    .title {
        position: absolute;
        top: 35%;
        right: 10%;
        font-size: 24px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;

        &.dark {
            color: #222;
        }

        &.light {
            color: #fff;
        }
    }
}

.products li {
    float: left;
}

.product {
    .info {
        padding: 15px 0;
        text-align: center;
    }

    .title {
        margin: 0;

        a {
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: normal;
            font-size: 14px;
            color: #222;
        }
    }

    .price {
        letter-spacing: 1px;
        font-size: 12px;
        line-height: 30px;
        color: #7e7e7e;
    }
}

.thumbnail {
    position: relative;

    img {
        width: 100%;
    }

    .cover {
        text-align: center;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;

        /* position:absolute時若設定top、right、bottom、left皆為零，也有展開完全貼合父層的效果！ */
        border: 20px solid rgba(0, 0, 0, 0.1);
        background: rgba(255, 255, 255, 0.9);
        opacity: 0;
        transition: all .3s linear;

        /* css3新功能：transition漸變效果 */

        &:hover {
            opacity: 1;
        }

        a {
            position: relative;
            top: 45%;
            text-decoration: none;
            font-size: 35px;
            color: #333;
        }
    }
}

.event {
    padding: 150px 0;
    background-image: url(https://picsum.photos/id/295/1920/1080);
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;

    .title,
    .subtitle {
        margin: 0;
        font-weight: 100;
        line-height: 1.5;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .title {
        font-size: 70px;
    }

    .subtitle {
        font-size: 24px;
    }
}

.featured {
    padding-bottom: 100px;

    img {
        width: 100%;
    }

    .col-6 {
        padding: 0 30px;
    }

    .info {
        margin-top: 70px;
        text-align: center;

        .title,
        .name {
            text-transform: uppercase;
        }

        .title,
        .price {
            color: #d6b161;
        }

        .name {
            margin: 0;
            margin-bottom: 10px;
            font-weight: normal;

            a {
                text-decoration: none;
                line-height: 1.5;
                color: #333;
            }
        }

        p {
            margin: 0;
            margin-bottom: 30px;
            padding-top: 30px;
        }

        .price {
            font-size: 26px;
            font-weight: 100;
        }
    }
}

.outlets {
    padding-bottom: 100px;
}

.outlet {
    h3 {
        margin: 0;
        margin-bottom: 30px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: normal;
    }

    .info {
        color: #7e7e7e;
        line-height: 30px;

        a {
            color: #7e7e7e;
            text-decoration: none;
        }
    }

    .map a {
        color: #d6b161;
        text-transform: uppercase;
        text-decoration: none;
    }
}

/* footer */

#footer {
    padding: 80px 0;
    background: #f5f5f5;
    position: relative;

    .logo {
        padding: 20px;
        background: #fff;
        border: 5px solid #f5f5f5;
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);

        /* css3:transform 2D/3D變形：translate位移。 */
    }

    .copyright {
        float: left;
        text-transform: uppercase;
        letter-spacing: 2px;

        .title {
            color: #000;
            font-size: 14px;
        }

        .subtitle {
            font-size: 12px;
            color: #323232;
        }
    }

    .social-media {
        float: right;

        li {
            float: left;
        }

        a {
            display: inline-block;
            margin: 10px;
            width: 40px;
            height: 40px;
            border: 1px solid #222;
            border-radius: 20px;
            text-decoration: none;
            text-align: center;
            line-height: 40px;
            color: #222;
        }
    }
}

#go-top {
    position: fixed;

    /* 設定position:fixed後，inline element會變成 inline-block element！ */
    right: 20px;
    bottom: 35px;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    color: #fff;
    transition: all .2s linear;

    &:hover {
        background: #d6b161;
    }
}