* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    font-family: "Source Sans Pro", sans-serif;
}

ul {
    margin: 0;
    list-style-type: none;
}

img {
    display: block;
}

/* custom class */
.container {
    display: block;
    width: 1170px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col-4,
.col-6 {
    float: left;
    padding: 0 10px;
}

.col-4 {
    width: 33.3333333%;
}

.col-6 {
    width: 50%;
}


/* header */
#logo {
    float: left;
}

#nav {
    float: right;
    text-transform: uppercase;
    line-height: 100px;
}

#nav li {
    float: left;
    height: 100px;
}

#nav a {
    padding: 0 12px;
    text-decoration: none;
    font-size: 13px;
    color: #333;
}

#nav .active a {
    color: #d6b161;
}

.boundary::after {
    content: "|";
    padding: 0 12px;
}

/* content */
.slider img {
    width: 100%;
    height: auto;
}

.categories {
    padding-top: 100px;
}

.category {
    position: relative;
    margin-bottom: 20px;
}

.category img {
    width: 100%;
    height: auto;
}

.category .title {
    position: absolute;
    top: 35%;
    right: 10%;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;

}

.category .title.dark {
    color: #222;
}

.category .title.light {
    color: #fff;
}