@use 'basic';

.contact {


    #content {
        .content {
            padding: 100px 0;
        }

        .title {
            font-size: 18px;
        }

        p {
            padding-bottom: 30px;
        }

        .contact-info {
            text-transform: capitalize;
            color: basic.$gray-text;

            .info {
                margin-bottom: 10px;
            }

            a {
                text-decoration: none;
                color: basic.$gray-text;

            }
        }

        .question {
            .col-12 {
                padding: 0 15px;
            }
        }


    }


}